<%= form_with model: promotion do |f| %>
  <%= render partial: 'shared/form_errors', locals: { object: promotion } %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>
  <div>
    <%= f.label :discount_rate %>
    <%= f.number_field :discount_rate, in: 0..100, step: 0.1 %>
  </div>
  <div>
    <%= f.label :coupon_quantity %>
    <%= f.number_field :coupon_quantity, min: 1 %>
  </div>
  <div>
    <%= f.label :expiration_date %>
    <%= f.text_field :expiration_date %>
  </div>
  <%= f.submit %>
<% end %>
