<%= link_to 'Voltar', root_path %>

<%= link_to 'Registrar uma promoção', new_promotion_path, class: 'btn btn-success' %>

<%= form_with url: search_promotions_path, method: :get do |f| %>
  <%= f.label :q, 'Busca' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<% if @promotions.empty? %>
  <h3>Nenhuma promoção cadastrada</h3>
<% end %>

<%= render @promotions %>
