<%= link_to t('buttons.back'), promotions_path %>
<%= link_to t('buttons.edit'), edit_promotion_path(@promotion) %>
<%= link_to t('buttons.destroy'), promotion_path(@promotion), method: :delete, data: { confirm: t('.destroy_confirm') } %>

<h3><%= @promotion.name %></h3>
<dl>
  <dt><%= Promotion.human_attribute_name(:description) %></dt>
  <dd><%= @promotion.description %></dd>
  <dt><%= Promotion.human_attribute_name(:discount_rate) %> <small>em porcentagem</small></dt>
  <dd><%= number_to_percentage @promotion.discount_rate, precision: 2 %></dd>
  <dt>Código</dt>
  <dd><%= @promotion.code %></dd>
  <dt>Data de término</dt>
  <dd><%= l @promotion.expiration_date %></dd>
  <dt>Quantidade de cupons</dt>
  <dd><%= @promotion.coupon_quantity %></dd>
</dl>

<% if @promotion.approved? %>
  <p>Aprovada por: <%= @promotion.promotion_approval.user.email %></p>
<% else %>
  <%= link_to 'Aprovar', approve_promotion_path(@promotion), method: :post, data: { confirm: 'Tem certeza? Essa operação não pode ser desfeita' } %>
<% end %>

<% if @promotion.coupons.empty? %>
  <%= link_to t('.generate_coupons'), generate_coupons_promotion_path(@promotion), method: :post %>
<% end %>

<% @promotion.coupons.each do |coupon| %>
  <div id="coupon-<%= coupon.code.parameterize %>">
    <p>
      <%= coupon.code %> (<%= Coupon.human_attribute_name("status.#{coupon.status}") %>)
    </p>
    <% if coupon.active? %>
      <%= link_to 'Desabilitar', disable_coupon_path(coupon), method: :post, data: { disable_with: 'Estamos desabilitando....' } %>
    <% end %>
  </div>
<% end %>
